* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(255, 237, 200);
  overflow: auto;
}

.Trending {
  width: 80%;
  margin: 0;
  padding: 0;
  padding-left: 5rem;
  padding-right: 0;
  border-radius: 0.5rem;
  color: rgba(109, 80, 53);
  overflow: visible; 
  height: auto; 
}

h1 {
  font-size: 1.8rem;
  color: rgba(109, 80, 53);
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 1.8rem;
  color: rgba(109, 80, 53);
  margin-bottom: 0.5rem;
}

h4{
  font-size: 1rem;
  color: rgba(109, 80, 53);
}
h3{
  font-size: 1.5rem;
  color: rgba(109, 80, 53);
  line-height: 2.5rem;
  margin: 2rem 0rem;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; /* Full height of the viewport */
  width: 100%; /* Full width */
  margin: 0;
  overflow: none; 
}

section {
  margin: 70px 100px;
  width: 100%;
  max-width: 420px;
  height: Auto; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgba(109, 80, 53, 0.4);
  overflow: visible; 
}

.ingredients-tab {
  font-family: 'Montserrat', sans-serif;
    color: rgba(109, 80, 53);
    margin-right: 3rem;
    font-size: 0.5rem;
    line-height: 1rem;
}


.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
  color: rgba(109, 80, 53);
}

.search-form {
  margin: 0rem 2rem;
  
  div{
    width: 100%;
    position: relative;
  }
  
}

.search-form input {
  border: none;
  background: rgba(255, 251, 228);
  font-size: 1.5rem;
  color: rgba(109, 80, 53);
  padding: 1rem 3rem;
  border-radius: 1rem;
  outline: none;
  width: 100%;
}

.search-form svg {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(100%, -50%);
  color: white;
}

a, a:visited {
  color: rgb(33, 32, 32);
}

input[type="text"],
input[type="password"],
button,
textarea {
font-family: 'Montserrat', sans-serif;
font-size: 22px;
padding: 0.25rem;
border-radius: 0.5rem;
}

label,
button {
margin-top: 1rem;
}

button {
padding: 0.5rem;
}

.recipe-info {
  margin-right: 4rem;
  font-size: 0.5rem;
  line-height: 1rem;
}


.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
  color: rgba(109, 80, 53);
}

.sidebar {
  position: fixed;
  top: 12rem;
  bottom: 0;
  left: 2rem;
  z-index: 100;
  padding: 7px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

